<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_house"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_house"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">


        <activity android:name=".note.CreateNote" android:screenOrientation="portrait"></activity>

        <activity android:name=".note.EditNote" android:screenOrientation="portrait"></activity>


        <activity android:name=".addimages.ViewActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".AuthActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".addimages.ShowImages" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="showimage1" />
                <action android:name="showimage2" />
                <action android:name="showimage3" />
                <action android:name="showimage4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".addimages.AddImage" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="addimage1" />
                <action android:name="addimage2" />
                <action android:name="addimage3" />
                <action android:name="addimage4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoHome" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="info1" />
                <action android:name="info2" />
                <action android:name="info3" />
                <action android:name="info4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".files.FilesView" android:screenOrientation="portrait" />

        <activity android:name=".files.FilesUpload" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="filesUP1" />
                <action android:name="filesUP2" />
                <action android:name="filesUP3" />
                <action android:name="filesUP4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".files.Files" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="files1" />
                <action android:name="files2" />
                <action android:name="files3" />
                <action android:name="files4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".message.MessageIntegration"  android:screenOrientation="portrait"/>

        <activity android:name=".ActivityArchive" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="archive1" />
                <action android:name="archive2" />
                <action android:name="archive3" />
                <action android:name="archive4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="bloknot" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityPay">
            <intent-filter>
                <action android:name="pay1" />
                <action android:name="pay2" />
                <action android:name="pay3" />
                <action android:name="pay4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityRepairs" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="remont1" />
                <action android:name="remont2" />
                <action android:name="remont3" />
                <action android:name="remont4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityEditApartment" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="apartment_edit1" />
                <action android:name="apartment_edit2" />
                <action android:name="apartment_edit3" />
                <action android:name="apartment_edit4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityFindClient" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="find_client1" />
                <action android:name="find_client2" />
                <action android:name="find_client3" />
                <action android:name="find_client4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityNewClient" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="new_client1" />
                <action android:name="new_client2" />
                <action android:name="new_client3" />
                <action android:name="new_client4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityAllClients"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="allclient" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityApartmentManager" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="new_home1" />
                <action android:name="new_home2" />
                <action android:name="new_home3" />
                <action android:name="new_home4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityAddNewApartment" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="1" />
                <action android:name="2" />
                <action android:name="3" />
                <action android:name="4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>